<section class="services">
  <h2>Services</h2>
  <div class="underline"></div>
  <div class="section-center services-center">
    <article class="service">
      <img src="/assets/img/js.png" alt="" class="service-icon" />
      <h3>Développement Javascript</h3>
      <p>Code First ou Data First</p>
      <p>Principes SOLID</p>
      <p>Design Pattern Strategie, Command, Decorator, Façade</p>
      <p>MySql, PostgreSql</p>
      <p>Connexion avec Api</p>
      <p>Git/Github</p>
      <p>Méthodologie Agile</p>
    </article>
  </div>
</section>
