<section class="services">
  <h2>Services</h2>
  <div class="underline"></div>
  <div class="section-center services-center">
    <article class="service">
      <img src="/assets/img/Csharp_Logo.png" alt="" class="service-icon">
      <h3>Développement ASP.NET</h3>
      <p>Code First ou Data First</p>
      <p>MVVM</p>
      <p>Principes SOLID</p>
      <p>Design Pattern Strategie, Command, Decorator</p>
      <p>Entity Framework et LINQ</p>
      <p>SQL Server</p>
      <p>API Rest / SOAP web services</p>
      <p>Git/Github</p>
      <p>Méthodologie Agile</p>
    </article>
    <article class="service">
      <img src="/assets/img/rails.png" alt="" class="service-icon">
      <h3>Développement Ruby On Rails</h3>
      <p>MVC</p>
      <p>Principes SOLID</p>
      <p>ActiveRecord</p>
      <p>PostgreSql</p>
      <p>Git/Github</p>
      <p>Méthodologie Agile</p>
    </article>
  </div>
  
</section>